.admin-footer {
    background-color: #eae8e8;
    color: #000;
    padding: 30px 20px;
    margin-top: auto;
    text-align: center;

    span {
        font-size: 14px;
        font-weight: 600;
    }
}